<html>

<h1>Company Database</h1>

<h3>Current Employees:</h3>

{{#if PNO}}    
    <h4>Project Number {{PNO}}: {{Pname}} located in {{Plocation}}</h4>
{{/if}}

{{#if SEARCH}}
    <h4>Search by first name starting with {{SEARCH}}</h4>
{{/if}}

<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Salary</th>
        <th>Dno</th>  
    </thead> 
    <tbody>
        {{#each employee}} 
        <tr> 
            <td>{{Fname}}</td> 
            <td>{{Lname}}</td> 
            <td>{{Salary}}</td> 
            <td>{{Dno}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

<p>
<form id='filter_employee' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by Project </label>
    <select id='project_filter' name="project"> 
        {{#each projects}}
        <option value="{{Pnumber}}">{{Pname}}</option>
        {{/each}}
    </select><br>
    <input type="button" class = "green_button" value="Filter" onclick="filterEmployeeByProject()">
</form>
    <a href="/employee" class="green_button"> Clear Filters</a>
<p>
<form id='search_employee' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search Employees for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" class = "green_button" value="Search" onclick="searchEmployeesByFirstName()">
</form>

<p>
<i>by murchej</i>

</html>